<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Browser" value="Chrome"/>
    <add key="Website" value=""/>
    <add key="Username" value="test101"/>
    <add key="Email" value="asif@yahoo.com"/>
    <add key="Password" value="123456"/>
  </appSettings>
</configuration>
